// ==========================================================================
//
// Variables
//
//

$colourOne: #48d7ad;
$colourTwo: #89dbdd;
$colourThree: #1ebdb2;
$colourFour: #f23e7f;
$colourFive: #fda94c;
$colourSix: #fda94c;
$colourSeven: #427ac9;
$colourTypeDark: #58595b;
$colourType: #babcbe;
$colourBackground: #f6f6f6;